{{- $src := .src -}}
{{- $alt := .alt -}}
{{- $width := .width | default "800" -}}
{{- $height := .height | default "450" -}}
{{- $loading := .loading | default "lazy" -}}
{{- $fetchpriority := .fetchpriority -}}
{{- $class := .class -}}
{{- $cleanSrc := trim $src "/" -}}
{{- $webpSrc := replaceRE "\\.(jpe?g|png)$" ".webp" $cleanSrc -}}
{{- $staticPath := printf "static/%s" $webpSrc -}}
{{- $hasWebp := fileExists $staticPath -}}
{{- $attrs := printf "src=%q alt=%q width=%q height=%q loading=%q decoding=%q" ($cleanSrc | relURL) $alt $width $height $loading "async" -}}
{{- if $class -}}{{- $attrs = printf "%s class=%q" $attrs $class -}}{{- end -}}
{{- if $fetchpriority -}}{{- $attrs = printf "%s fetchpriority=%q" $attrs $fetchpriority -}}{{- end -}}
{{- if $hasWebp -}}
<picture>
  <source srcset="{{ $webpSrc | relURL }}" type="image/webp">
  <img {{ $attrs | safeHTMLAttr }}>
</picture>
{{- else -}}
<img {{ $attrs | safeHTMLAttr }}>
{{- end -}}
