<nav class="prev-next" aria-label="Previous and next articles">
  <div class="prev-next-inner">
    <div class="prev">
      {{ if .PrevInSection }}
      <a href="{{ .PrevInSection.RelPermalink }}" rel="prev">
        <span class="prev-label">{{ T "previous" | default "Previous" }}</span>
        <span class="prev-title">{{ .PrevInSection.Title }}</span>
      </a>
      {{ end }}
    </div>
    <div class="next">
      {{ if .NextInSection }}
      <a href="{{ .NextInSection.RelPermalink }}" rel="next">
        <span class="next-label">{{ T "next" | default "Next" }}</span>
        <span class="next-title">{{ .NextInSection.Title }}</span>
      </a>
      {{ end }}
    </div>
  </div>
</nav>
