{{ $twImage := "" }}
{{ if .IsPage }}
  {{ with .Params.cover.image }}
    {{ $twImage = trim . "/" | absURL }}
  {{ end }}
{{ end }}
{{ if not $twImage }}
  {{ with .Site.Params.images }}
    {{ $twImage = trim (index . 0) "/" | absURL }}
  {{ end }}
{{ end }}

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="{{ .Permalink }}">
<meta name="twitter:title" content="{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}">
<meta name="twitter:description" content="{{ .Description | default .Site.Params.description }}">
{{ with .Site.Params.twitter }}
<meta name="twitter:site" content="{{ . }}">
<meta name="twitter:creator" content="{{ . }}">
{{ end }}
{{ if $twImage }}
<meta name="twitter:image" content="{{ $twImage }}">
{{ end }}
